<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="game.libretro.px68k">
		<category id="system" label="30027" help="30028">
			<group id="1">
				<setting id="px68k_menufontsize" type="string" label="30001" help="30029">
					<level>0</level>
					<default>normal</default>
					<constraints>
						<options>
							<option>normal</option>
							<option>large</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_cpuspeed" type="string" label="30002" help="30030">
					<level>0</level>
					<default>10Mhz</default>
					<constraints>
						<options>
							<option>10Mhz</option>
							<option>16Mhz</option>
							<option>25Mhz</option>
							<option>33Mhz (OC)</option>
							<option>66Mhz (OC)</option>
							<option>100Mhz (OC)</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_ramsize" type="string" label="30003" help="30031">
					<level>0</level>
					<default>2MB</default>
					<constraints>
						<options>
							<option>1MB</option>
							<option>2MB</option>
							<option>3MB</option>
							<option>4MB</option>
							<option>5MB</option>
							<option>6MB</option>
							<option>7MB</option>
							<option>8MB</option>
							<option>9MB</option>
							<option>10MB</option>
							<option>11MB</option>
							<option>12MB</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="audio" label="30032" help="30033">
			<group id="1">
				<setting id="px68k_midi_output" type="string" label="30021" help="30034">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_midi_output_type" type="string" label="30023" help="30035">
					<level>0</level>
					<default>GM</default>
					<constraints>
						<options>
							<option>LA</option>
							<option>GM</option>
							<option>GS</option>
							<option>XG</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_adpcm_vol" type="string" label="30008" help="30036">
					<level>0</level>
					<default>15</default>
					<constraints>
						<options>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>13</option>
							<option>14</option>
							<option>15</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_opm_vol" type="string" label="30009" help="30037">
					<level>0</level>
					<default>12</default>
					<constraints>
						<options>
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
							<option>13</option>
							<option>14</option>
							<option>15</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="input" label="30038" help="30039">
			<group id="1">
				<setting id="px68k_analog" type="string" label="30004">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_joytype1" type="string" label="30005" help="30040">
					<level>0</level>
					<default>Default (2 Buttons)</default>
					<constraints>
						<options>
							<option>Default (2 Buttons)</option>
							<option>CPSF-MD (8 Buttons)</option>
							<option>CPSF-SFC (8 Buttons)</option>
							<option>Cyberstick (Digital)</option>
							<option>Cyberstick (Analog)</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_joytype2" type="string" label="30006" help="30041">
					<level>0</level>
					<default>Default (2 Buttons)</default>
					<constraints>
						<options>
							<option>Default (2 Buttons)</option>
							<option>CPSF-MD (8 Buttons)</option>
							<option>CPSF-SFC (8 Buttons)</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_joy1_select" type="string" label="30007" help="30042">
					<level>0</level>
					<default>Default</default>
					<constraints>
						<options>
							<option>Default</option>
							<option>XF1</option>
							<option>XF2</option>
							<option>XF3</option>
							<option>XF4</option>
							<option>XF5</option>
							<option>OPT1</option>
							<option>OPT2</option>
							<option>F1</option>
							<option>F2</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_joy_mouse" type="string" label="30014" help="30043">
					<level>0</level>
					<default>Mouse</default>
					<constraints>
						<options>
							<option>Mouse</option>
							<option>Joystick</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_vbtn_swap" type="string" label="30015" help="30044">
					<level>0</level>
					<default>TRIG1 TRIG2</default>
					<constraints>
						<options>
							<option>TRIG1 TRIG2</option>
							<option>TRIG2 TRIG1</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="media" label="30045" help="30046">
			<group id="1">
				<setting id="px68k_disk_drive" type="string" label="30010" help="30047">
					<level>0</level>
					<default>FDD1</default>
					<constraints>
						<options>
							<option>FDD1</option>
							<option>FDD0</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_save_fdd_path" type="string" label="30011" help="30048">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>enabled</option>
							<option>disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_save_hdd_path" type="string" label="30012" help="30049">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>enabled</option>
							<option>disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_rumble_on_disk_read" type="string" label="30013" help="30050">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>enabled</option>
							<option>disabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="advanced" label="30051" help="30052">
			<group id="1">
				<setting id="px68k_no_wait_mode" type="string" label="30016" help="30053">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_frameskip" type="string" label="30017" help="30054">
					<level>0</level>
					<default>Full Frame</default>
					<constraints>
						<options>
							<option>Full Frame</option>
							<option>1/2 Frame</option>
							<option>1/3 Frame</option>
							<option>1/4 Frame</option>
							<option>1/5 Frame</option>
							<option>1/6 Frame</option>
							<option>1/8 Frame</option>
							<option>1/16 Frame</option>
							<option>1/32 Frame</option>
							<option>1/60 Frame</option>
							<option>Auto Frame Skip</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_push_video_before_audio" type="string" label="30018" help="30055">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_adjust_frame_rates" type="string" label="30019" help="30056">
					<level>0</level>
					<default>enabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_audio_desync_hack" type="string" label="30020" help="30057">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_text_off" type="string" label="30024" help="30058">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_grp_off" type="string" label="30025" help="30058">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="px68k_sp_off" type="string" label="30026" help="30058">
					<level>0</level>
					<default>disabled</default>
					<constraints>
						<options>
							<option>disabled</option>
							<option>enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
	</section>
</settings>
